* {
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.container {
    text-align: center;
    margin: auto;
    width: 50vw;
    height: 50vh;
    border: 3px solid green;
    padding: 10px;
}



#message {
    border-bottom: 1px solid #111;
    padding-top: 10vh;    
    
    font-weight: 300;
    margin: 0 0 20px;
}
